<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879834299794-pqtouc4cq6hs2k6ugg6ohahm8nn8tbd5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879834299794-pqtouc4cq6hs2k6ugg6ohahm8nn8tbd5</string>
	<key>API_KEY</key>
	<string>AIzaSyCV1Dv_sLkTBgD6fEOTMiP8L_5jvqCAsgw</string>
	<key>GCM_SENDER_ID</key>
	<string>879834299794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.sttimchenko.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-30e9a</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-30e9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879834299794:ios:a4109248c565a74837554b</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-30e9a.firebaseio.com</string>
</dict>
</plist>